@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700&display=swap');

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2000;
}
.loader-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #000;
  }
}

.nav-link {
  display: flex;
  padding: 16px;
  white-space: nowrap;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.active {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #bf9d7d;
  }
}

.link{
  text-decoration: none;
}

.hero-section,
.room-type-section {
  .swiper-slide {
    position: relative;
    height: unset;
  }
  .swiper-pagination-bullet {
    border-radius: 100px;
    background-color: #f1eae4;
    width: 32px;
    height: 4px;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    width: 60px;
    background-color: #bf9d7d;
  }
}

.food-type-section {
  .swiper-slide {
    width: 300px;
    @media (min-width: 768px) {
      width: 416px;
    }
  }
}

.link-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  .line {
    width: 80px;
    height: 1px;
    margin-left: 16px;
    background-color: #000;
    transition: all 0.3s;
  }
  &:hover {
    color: white;
    background-color: #bf9d7d;
    .line {
      background-color: white;
    }
  }

  @media (min-width: 768px) {
    padding: 40px;
    font-size: 24px;
    .line {
      width: 150px;
    }
  }
}

.news-section {
  .news-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 474px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 474px;
    }
  }
}

.room-type-swiper{
  height: 100%;
}
